<div>

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title" ng-bind="ctrl.options.title"></h3>
    </div>

    <div class="modal-body" id="modal-body">

    <form class="form">
        <label for="name">Nazwa Umowy</label>
        <input id="name" type="text" class="form-control" ng-model="ctrl.options.data.name"/>


        <label for="executier">Wykonawca</label>
        <select id="executier" class="form-control" ng-model="ctrl.options.data.id_execute">
            <option ng-repeat="person in ctrl.persons" value="{{person._id}}" ng-bind="person.firstName+' '+person.lastName"></option>
        </select>

        <label for="project">Project</label>
        <select id="project" class="form-control" ng-model="ctrl.options.data.id_project">
            <option ng-repeat="project in ctrl.projects" value="{{project._id}}" ng-bind="project.name"></option>
        </select>
     
        <br> 

        <label for="start">Start date:</label>

        <input type="date" id="start" name="contract-start"
                ng-model = "ctrl.options.data.date_start"/>

               <!--min="2022-22-07" max="2030-12-31"/-->
               <label for="end">Finish date:</label>

               <input type="date" id="end" name="contract-end"
               ng-model = "ctrl.options.data.date_end"/>

    </form>

    <br>
    <label for="amount">Kwota</label>
    <input id="amount" type="number" class="form-control" ng-model="ctrl.options.data.reward"/>


        <div class="modal-footer">
            <button class="btn btn-success fa fa-check" type="button" ng-click="ctrl.submit('ok')" ng-if="ctrl.options.ok" ng-disabled="!ctrl.options.data.name || !ctrl.options.data.id_execute || !ctrl.options.data.id_project || !ctrl.options.data.reward || !(ctrl.options.data.reward > 0) || ctrl.options.data.date_start > ctrl.options.data.date_end "></button>
            <button class="btn btn-danger fa fa-trash" type="button" ng-click="ctrl.submit('delete')" ng-if="ctrl.options.delete"></button>
            <button class="btn btn-warning fa fa-times" type="button" ng-click="ctrl.cancel()" ng-if="ctrl.options.cancel"></button>
            <button type="button" class="btn btn-primary mr-auto" ng-click="ctrl.submit('settle')" ng-if="ctrl.options.settle">Rozliczyć</button>
        </div>

    </div>

