<div style="float: right">
    <form class="form form-inline">
        <input class="form-control" type="text" placeholder="filtr" ng-model="ctrl.q" ng-change="ctrl.refreshData()"/>
    </form>
</div>

<div><br/><br/></div>

<table class="table table-stripped table-hover">
    <tr>
        <td>
            <button class="btn btn-default btn-xs fa fa-plus" ng-click="ctrl.edit(-1)"></button>
        </td>
        <th>Nazwa Projektu</th>
        <th>Kierownik</th>
    </tr>
    <tr ng-repeat="project in ctrl.projects" ng-click="ctrl.edit($index)">
        <td></td>
        <td ng-bind="project.name"></td>
         <td ng-repeat="user in ctrl.users | filter:project.director" ng-bind="user.login"></td>
        <!-- <td ng-bind="project.director"></td> -->
    </tr>
</table>